.content {
    @include main-sections;
    background-color: $white;
}

.main__image {
    width: 100%;
    margin-bottom: 1rem
}

.aside {
    @include main-sections;
    background-color: $white;

    &__section {
        @include main-sections;
        padding: 2rem;
        margin-bottom: 1rem;
    }
}