@import './config';
@import './header';
@import './content';
@import './cards';
@import './footer';
@import './media';

//Text Classes
.text-accent {
    color:$accent-color;
}

.text-white {
    color: $white;
}

.text-gray {
    color:$text-color;
}

.title {
    font-family: $title;
    margin-bottom: 1rem;
}

.text {
    font-family: $text;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.xsmall {
    font-size: 1rem;
}

.small {
    font-size: 1.125rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 1.875rem;
}

//Container
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

//a tag
.link {
    text-decoration: none;
}

//list style
.list {
    list-style-type: none;
}

//Text-center
.text-center {
    text-align: center;
}

//Hover text
.hover-text:hover {
    color: $accent-color;
}

//Button Opacity 
.hover-btn:hover {
    opacity: 0.7;
}
